nav {
    /* background-color: rgb(0, 41, 107); */
    background-color: rgb(58, 119, 177);
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    grid-auto-rows: 50px;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    /* border:1px solid red; */
    display:table;
    overflow: hidden;
  }
  
li{
    display: inline-block;
    /* float: center; */
    padding: 2px;
    width: 150px;
    margin-left: auto ;
    margin-right: auto ;
  }

a{
    font-size: 20px;
    color: white;
}

.title_style {
    /* color: white; */
    font-size: 35px;
    margin-left: 35px;
    /* text-align: center; */
}

.nav_title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 25px;
    margin-top: 25px;
}

.nav_center {
    grid-area: main;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: auto;
    margin-top: 10px;
}

.nav_search {
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.nav_search_input {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-right: 500px;
    /* grid-row-start: 1; */
    /* grid-row-end: 2; */
}

.nav_search_button {
    grid-column-start: 4;
    grid-column-end: 5;

    /* grid-row-start: 2; */
    /* grid-row-end: 3; */
}

.nav_basket {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 15%;
    color: white;
    text-align: right;
}

svg {
    height: 40px;
    margin-top: 25px;
    margin-right: 25px;
}