main {
  flex: 1 0 auto;
  padding: 10px;
}

.about {
  text-align: center;
 }

 h2.center, .center{
   text-align: center;
 }

 .right {
   float: right;
   
   color: green;
 }

.form {
   width: 35%;
   /* padding-left: 35%; */
   /* padding-right: 35%; */
}

#contact{
  background-color: teal;
  display: flex;
  justify-content: center;
}