@import "~antd/dist/antd.css";

main {
  flex-grow: 1;
  padding: 10px;
  /* background-color: rgb(0, 80, 157); */
}

.about {
  text-align: center;

  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto;
  display: flex;
  justify-content: space-around;
 }

 h2.center, .center{
   text-align: center;
   background-color: green;
 }

 h3 {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
 }

 .right {
   float: right;
 }

.form {
   width: 35%;
   /* padding-left: 35%; */
   /* padding-right: 35%; */
}

#contact{
  display: flex;
  justify-content: center;
}

.carousel_container {
  padding: 20px;
}

.carousel {
  height: 350px;
  width: 100%;
  /* color: #fff; */
  line-height: 160px;
  text-align: center;
  /* background-color:green; */
}

.main_parent {
  color: black;
}

.Produit_phare {
  color: black;
  padding-top: 30px;
  
  /* display: grid; */
  /* grid-template-columns: repeat( 5, 1fr); */
  /* grid-column-start: 1; */
  /* grid-column-end: 4; */
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  /* display: flex; */
  /* justify-content: space-between; */
  /* background-color: red; */
}

.cards {
  width: 90%;
  /* width: 15%; */
  margin: auto;
  /* grid-column-start: 1; */
  /* grid-column-end: 2; */
}

.pe {
  display: flex;
  justify-content: center;
}

.abtype {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
}

.peP {
  max-width: 70%;
}

.item_page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}