@import "~antd/dist/antd.css";

main {
  flex-grow: 1;
  padding: 10px;
}

.about {
  text-align: center;

  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto;
  display: flex;
  justify-content: space-around;
 }

 h2.center, .center{
   text-align: center;
   background-color: green;
 }

 .right {
   float: right;
 }

.form {
   width: 35%;
   /* padding-left: 35%; */
   /* padding-right: 35%; */
}

#contact{
  display: flex;
  justify-content: center;
}

.carousel {
  height: 160px;
  width: 100%;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background-color:green;
}

.debug_man {
  background-color: red;
}